node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

yarn.lock
assets/gwp/images
assets/gwp/imagesLR
assets/gwp/imagesORIGINAL
assets/gwp/images**/*

